* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Lora", serif;
}

.btn-style {
  color: gray;
  background: none;
  border: none;
  position: relative;
  z-index: 2;
}

.btn-style i {
  font-size: 14px;
  color: inherit;
  transition: all 0.5s;
  height: 35px;
  width: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 50%;
  border: 1.5px solid gray;
}

.btn-style:hover i {
  background: gray;
  color: white;
}

.shop-logo {
  font-size: 50px;
  font-weight: 900;
  text-decoration: none;
}

header .nav-item a {
  font-size: 18px;
  margin-right: 5px;
}

header .nav-item.active a {
  color: #f2aa4cff !important;
  text-decoration: none;
}

.img-container {
  width: 100%;
  margin-bottom: 30px;
  min-height: 190px;
}

.img-container img {
  width: 80%;
  display: block;
  margin: auto;
}

/* Header */

header.productHeader {
  background: black;
  height: 100px;
  display: flex;
  align-items: center;
}

.search-btn {
  position: relative;
}

.search-btn form {
  height: 120%;
  width: 0;
  position: absolute;
  top: 0;
  right: 16px;
  border-radius: 9px;
  transition: all 0.3s;
  visibility: hidden;
}

.search-btn:hover form {
  width: 120px;
  visibility: visible;
}

.search-btn form select {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.btn-style.cart-btn i {
  font-size: 30px;
  border: none;
}

.btn-style.cart-btn:hover i {
  color: white;
  background: none;
  position: relative;
}

#quantity {
  position: absolute;
  width: 15px;
  height: 15px;
  background: gray;
  line-height: 15px;
  font-size: 8px;
  border-radius: 50%;
  top: -4px;
  left: 26px;
  color: black;
  transition: all 0.5s;
}

.btn-style.cart-btn:hover #quantity {
  background: white;
}

/* Item */

.productGallery {
  padding-bottom: 200px;
}

.productGallery__productItem {
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s;
  overflow: hidden;
  position: relative;
}

.productGallery__productItem:hover {
  box-shadow: 2px 5px 5px 0px rgb(0 0 0 / 30%);
}

.productGallery__productContent {
  width: 100%;
  padding: 0px 5px 10px;
}

.productGallery__productName {
  color: #121200;
  transition: all 0.3s;
}
.productGallery__productName h5 {
  font-size: 20px;
  margin: 0;
  font-weight: 900;
  height: 50px;
}

.in-stock {
  color: green;
  font-size: 15px;
  font-weight: bold;
  margin: 0;
}

.five-stars {
  font-size: 16px;
  color: yellow;
  margin: 4px 0;
}

.productGallery__productName:hover {
  color: gray;
  text-decoration: none;
}

.productGallery__productPrice {
  font-size: 25px;
  color: firebrick;
  font-weight: bold;
  margin: 0;
}

.productGallery__mini-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 130%);
  opacity: 0;
  display: flex;
  justify-content: space-around;
  width: 50%;
  transition: all 0.1s;
}

.productGallery__productItem:hover .productGallery__mini-menu {
  opacity: 1;
  transform: translate(-50%, 100%);
}

/* Modal styling */
.details-modal {
  min-width: 60% !important;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.details-modal .five-stars {
  font-size: 28px;
  margin: 4px 0;
  color: #ffdb58;
  text-align: center;
}

.modal-extraInformation h1 {
  font-weight: 600;
  font-size: 36px;
  padding: 40px 0 20px;
}

.details-modal .specifications li {
  line-height: 28px;
  font-size: 22px;
}

.modal-extraInformation h2 {
  color: brown;
  font-weight: 900;
  font-size: 45px;
  padding: 0;
}

span#inStock {
  color: green;
  font-weight: 900;
  font-size: 25px;
  margin-left: -40px;
}

.btn-style.like i {
  border: 1.5px solid red;
  color: white;
  background: red;
}
.btn-style.like:hover i {
  border: 1.5px solid red;
  background: red;
}

/* Cart styling */

.modal-header.cartPopUp-header h5 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.cartPopUp-header button.close {
  font-size: 50px;
  padding-right: 50px;
}

.emptyCart {
  font-size: 35px;
  color: gray;
  text-align: center;
  display: block;
}

.cartPopUp {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 60%;
  margin: 0;
  transition: all 1s;
}

.cartPopUpContent {
  min-height: 100vh;
}

.CartItem {
  text-align: center;
  justify-content: center;
  position: relative;
  font-size: 22px;
  color: gray;
}

.CartItem::after {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  height: 1px;
  width: 90%;
  background-color: gray;
}

.btn-deleteProduct {
  background: none;
  border: none;
  font-size: 30px;
  color: gray;
  transition: all 0.5s;
}

.btn-deleteProduct:hover {
  color: brown;
}

#cart-modal-body tr:not(:first-of-type) {
  margin-top: 20px;
}

.CartItem td {
  padding: 0;
}

.CartItem .img-container {
  margin: 0;
}

.CartItem td:nth-of-type(2) p {
  margin: 0;
}

.CartItem td:nth-of-type(3) {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.total {
  font-size: 35px;
  font-weight: 600;
  color: brown;
}

.modal-buttons button,
.modal-buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Media queries */

@media screen and (max-width: 1199.98px) {
  .productGallery__productName h5 {
    font-size: 20px;
  }
  /* 
  .five-stars {
    font-size: 12px;
    color: #ffdb58;

  }

  .productGallery__productPrice {
    font-size: 20px;
    color: firebrick;
    font-weight: bold;

  } */
}

@media screen and (max-width: 991.98px) {
  .img-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .productGallery__productItem {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .productHeader ul {
    display: none;
  }
}

@media screen and (max-width: 767.98px) {
  .five-stars {
    font-size: 14px;
    margin: 0;
  }

  .productGallery__productName h5 {
    font-size: 18px;
  }

  .productGallery__productPrice {
    font-size: 20px;
  }

  .productGallery__productContent {
    padding-bottom: 0;
  }

  .img-container {
    margin-bottom: 15px;
    min-height: 120px;
  }
}

@media screen and (max-width: 575.98px) {
  .productGallery__productItem {
    width: 50%;
  }

  .productGallery__productName h5 {
    font-size: 16px;
  }

  .img-container {
    width: 60%;
    min-height: 100px;
  }
}
